{% load static %}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="{% url 'dashboard' %}" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img src="{% static 'assets/img/logo-icon.png' %}" alt="Color Smile Paint Center" style="width: 40px; height: 40px;" />
      </span>
      <span class="app-brand-text demo menu-text fw-bold">Color Smile</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
      <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <li class="menu-item {% if request.path == '/dashboard/' %}active{% endif %}">
      <a href="{% url 'dashboard' %}" class="menu-link">
        <i class="menu-icon tf-icons ti ti-smart-home"></i>
        <div data-i18n="Dashboards">Dashboard</div>
      </a>
    </li>

    {% if can_manage_users %}
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Administrator</span>
      </li>
      <li class="menu-item {% if 'manage-users' in request.path %}active{% endif %}">
        <a href="{% url 'manage_users' %}" class="menu-link">
          <i class="menu-icon tf-icons ti ti-users"></i>
          <div data-i18n="Users">Manage Users</div>
        </a>
      </li>
    {% endif %}

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Stocks</span>
    </li>
    <li class="menu-item {% if 'manage-stocks' in request.path or 'low-stock-alerts' in request.path or 'stock-history' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-clipboard"></i>
        <div data-i18n="Stock">Stocks</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if request.path == '/manage-stocks/' and not request.GET.branch_id %}active{% endif %}">
          <a href="{% url 'manage_stocks' %}" class="menu-link">
            <div data-i18n="Branches">Branches</div>
          </a>
        </li>
        {% for stock_branch in sidebar_branches %}
          {% url 'manage_stocks' stock_branch.id as stock_branch_url %}
          <li class="menu-item {% if request.path == stock_branch_url %}active{% endif %}">
            <a href="{{ stock_branch_url }}" class="menu-link">
              <div data-i18n="Branch{{ stock_branch.id }}">{{ stock_branch.name }}</div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Inventory Management</span>
    </li>
    <li class="menu-item {% if 'product-catalogue' in request.path %}active{% endif %}">
      <a href="{% url 'product_catalogue' %}" class="menu-link">
        <i class="menu-icon tf-icons ti ti-paint"></i>
        <div data-i18n="Products">Product Catalog</div>
      </a>
    </li>
    <li class="menu-item {% if 'product-details' in request.path %}active{% endif %}">
      <a href="{% url 'product_details' %}" class="menu-link">
        <i class="menu-icon tf-icons ti ti-man"></i>
        <div data-i18n="Supplier">Product Management</div>
      </a>
    </li>
    <li class="menu-item {% if 'suppliers' in request.path %}active{% endif %}">
      <a href="{% url 'suppliers' %}" class="menu-link">
        <i class="menu-icon tf-icons ti ti-truck"></i>
        <div data-i18n="Suppliers">Supplier Management</div>
      </a>
    </li>
    {% if is_admin_role %}
      <li class="menu-item {% if 'branches' in request.path %}active{% endif %}">
        <a href="{% url 'branches' %}" class="menu-link">
          <i class="menu-icon tf-icons ti ti-building"></i>
          <div data-i18n="Branch">Branch Management</div>
        </a>
      </li>
    {% endif %}

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Profile</span>
    </li>
    <li class="menu-item {% if 'account' in request.path %}active{% endif %}">
      <a href="{% url 'account' %}" class="menu-link">
        <i class="menu-icon tf-icons ti ti-user"></i>
        <div class="d-flex flex-column">
          <span class="fw-semibold">{% firstof request.user.get_full_name request.user.username %}</span>
          <small class="text-muted">{% firstof request.session.user_role request.user.user_role "User" %}</small>
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a href="{% url 'logout' %}" class="menu-link">
        <i class="ti ti-logout me-2 ti-sm"></i>
        <div class="d-flex flex-column">
          <span class="align-middle">Log Out</span>
        </div>
      </a>
    </li>
  </ul>
</aside>
